# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml

# Virtual environments
venv/
.venv/
env/
.env/
bin/
lib/
pyvenv.cfg
# IDE files
.vscode/
.idea/

# Jupyter Notebook checkpoint
.ipynb_checkpoints

#solver
glucose-4.2.1/